#home {
  clip-path: url(#cache);
}
#home g {
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation-name: show;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  fill: none;
}
#green {
  stroke: #06A215;
  stroke-width: 2%;
}
#red {
  stroke: #ce1b5f;
  stroke-width: 2%;
}
#blue {
  stroke: #06a1c4;
  stroke-width: 2%;
}
@keyframes show {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 0.3;
    stroke-dashoffset: 0;
  }
}
