#pop-mesagge.hidden {
  display: none;
}
#pop-mesagge {
  height: 8vh;
  aspect-ratio: 10/2;
  background: #333d;
  position: absolute;
  bottom: 2vh;
  left: 5vw;
  z-index: 100;
  border-radius: 1rem;
  display: flex;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform-origin: left;
}
#pop-mesagge img.alarma {
  flex: 0 0 auto;
  height: 100%;
  animation-name: wobble;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
  animation-delay: 1.5s;
}
#pop-mesagge p {
  flex: 1 1 auto;
  color: #eee;
  text-align: left;
  box-sizing: border-box;
  padding: .5rem 2rem .5rem 0.1rem;
  font-size: 1.9vh;
}
#pop-mesagge img.close {
  height: 3.5vh;
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  color: #eee;
  filter: brightness(0) invert(1);
}
