:root {
  --color-dark: #5b6aeb;
  --scheme-dark: #07060f;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--scheme-dark);
  color: var(--color-dark);
  min-height: 100vh;
  overflow: hidden;
}
.modal.hide {
  display: none;
}
.modal {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333a;
  width: 100vw;
  width: 100dvw;
  height: 100dvh;
  height: 100dvh;
  z-index: 100;
}
.modal .container-modal {
  width: 50vw;
  width: 50dvw;
  height: 50vh;
  height: 50dvh;
  margin: 10rem auto;
  background-color: var(--scheme-dark);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal .container-modal label {
  font-size: 1.5rem;
}
.container {
  width: 90vw;
  width: 90dvw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  height: 100%;
}
section.principal {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  height: 60%;
}
.principal-article {
  padding: 1rem;
  width: 70%;
  gap: 1rem;
}
.principal-article:has(:not(img)) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header.principal h1 {
  text-align: center;
  font-size: 2rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.principal-article:has(img) {
  width: auto;
}
.principal-article img {
  width: 100%;
}
textarea,
input[type="text"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}
textarea {
  flex-grow: 1;
}
button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}
@media screen and (max-width: 1000px) {
  .principal-article {
    width: 100%;
  }
  .principal-article:has(img) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40%;
    margin: auto;
    z-index: -1;
    opacity: 0.5;
  }
}
@media screen and (max-width: 768px) {
  button {
    font-size: 16px;
    padding: 8px 16px;
  }

  h1 {
    font-size: 24px;
  }
}
