:root {
  --color-dark: #5b6aeb;
  --scheme-dark: #07060f;
}
* {
  box-sizing: border-box;
  background-color: #00cc181a;
  outline: none;
}
body{
  background-color: var(--scheme-dark);
  color: var(--color-dark);
  height: 100vh;
}
.modal{
  display: none;
}
.container {
  width: 80vw;
  width: 80dvw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
textarea,
input[type="text"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}
textarea {
  height: 120px;
}
button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}
@media screen and (max-width: 768px) {
  button {
    font-size: 16px;
    padding: 8px 16px;
  }

  h1 {
    font-size: 24px;
  }
}